{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% block custom_css %} <link href="{% static 'RechercheCV/css/custom_rechercheCV.css' %}"  rel="stylesheet"> {% endblock %}

{% block custom_active %}
              <li><a href="/">Accueil</a></li>
              <li><a href="/RechercheCV/">Recherche CV</a></li>
              <li><a href="#contact"><span class="glyphicon glyphicon-log-in"></span></a></li>
              <li  class="active" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/RechercheCV/upload/">Upload CV</a></li>
                  <li><a href="/RechercheCV/delete/">Delete CV</a></li>
                  <li><a href="/BaseCV/list_CV/">Base CV globale</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>

{% endblock %}

{% block content %}
      <form name = "form" enctype = "multipart/form-data"
         action = "saved/" method = "POST" >{% csrf_token %}

         <div style = "max-width:470px;">
            <center>
               <input type = "text" style = "margin-left:20%;"
               placeholder = "Name" name = "name" />
            </center>
         </div>

         <br>

         <div style = "max-width:470px;">
            <center>
               <input type = "file" style = "margin-left:20%;"
                  placeholder = "Picture" name = "picture" />
            </center>
         </div>

         <br>

         <div style = "max-width:470px;">
            <center>

               <button style = "border:0px;background-color:#4285F4; margin-top:8%;
                  height:35px; width:80%; margin-left:19%;" type = "submit" value = "Upload" >
                  <strong>Upload</strong>
               </button>

            </center>
         </div>

      </form>
{% endblock %}
